<div class="container">
    <div class="jumbotron text-center m-3">
        <h1 class="display-4">Randy's Burger Shak!</h1>
        <hr class="my-4">
        <div class="row d-flex justify-content-around">

            <div class="col-lg">
            <div class="card2">
                <div class="card-header">
                    The Uneaten Burgers...Let's Start!
                </div>
            
                <ul class="list-group list-group-flush m-3">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
                
            </div>
            </div>
            <div class="col-lg">
            <div class="card">
                <div class="card-header">
                    Damn Good Burger....All Gone!
                </div>
                <ul class="list-group list-group-flush m-3">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            </div>
        </div>
        
    
        
        <div class="row d-flex justify-content-center m-3">
            <div class="col-lg">
            <div class="card3">
                <div class="card-header">
                    What Kind of Burger..Type Here!
                </div>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <textarea class="form-control text-center" id="burgerEntry" row="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">ADD!</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> 

