h1 {
    background-color: aquamarine;
    border-radius: 16px;
    padding: 5px; 
    font-style: oblique; 
    text-align: center; 

}

body {
    background-color: beige;
}

button {
    border-radius: 16px;
    padding: 5px;
    color: black;
    background-color:burlywood;
  }


  