h1 {
    background-color: aquamarine;
    border-radius: 16px;
    padding: 5px; 
    font-style: oblique; 
    text-align: center; 

}

body {
    background-color: beige;

}

.btn {
    border-radius: 16px;
    padding: 5px;
    color: black;
    background-color:rgb(247, 183, 247);
    border-color: rgb(182, 43, 152);
  }

 .card{
    background-color: blueviolet;
    color: black;
    float:right;
    
} 

.card2{
    background-color: blueviolet;
    color: black;
    float:left;
}

.card3{
    background-color: beige;
    color: black;
    float:left;
    
}


 
.display-4{
    color:rgb(207, 39, 151);
    font-family:cursive;
}

 