<li class="list-group-item">
    {{burger_name}}
        
        {{#if devoured}}
        {{else}}
        <button type= "button" class="eat-burger btn btn-primary btn-sm" data-id="{{this.id}}" data-neweaten="{{devoured}}">Eat Up!</button>
        {{/if}}
</li> 


